/*** Variables ***/

:root {
    --fuente: 'Raleway', sans-serif;

    --negro: #464646;
    --blanco: #FFFFFF;
    --celeste: #EAF2FD;
    --grisBlanco: #C8C8C8;
    --gris: #E5E5E5;
    --grisClaro: #F5F5F5;
    --grisOscuro: #A2A2A2;
    --grisNegro: #6B6B6B;
    --azul: #2A7AE4;
    --verde: #cff4fc;
    --verdeOscuro: #008000;
    --rosado: #F8D7DA;
    --rojo: #842029;
}

/*** Globales ***/

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.6rem;
    font-family: var(--fuente);
    color: var(--negro);
}

li {
    list-style: none;
}

.contenedor {
    max-width: 90%;
    margin: 0 auto;
    align-items: center;
}

label {
    display: block;
}

input,
textarea {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

/*** Header ***/

.header,
.contacto {
    display: flex;
    justify-content: space-between;
    padding: 1.8rem 0;
}

.logo,
.contacto-logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 12rem;
}

.login-buscador {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.buscador {
    display: flex;
}

.input-buscador {
    display: none;
    margin-left: 3.2rem;
}

.btn-login {
    display: inline-block;
    color: var(--azul);
    border: solid 1px var(--azul);
    padding: 1.2rem;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: var(--blanco);
    width: 13.3rem;
    height: 4rem;
    cursor: pointer;
}

.icono-buscador {
    width: 1.7rem;
}

/*** Hero ***/

.hero {
    background-image: url('../img/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 19.2rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.hero:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.2);
}

.hero-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1.6rem 0;
    width: 90%;
    height: 100%;
}

.hero-div h1 {
    position: relative;
    color: var(--blanco);
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: .8rem;
}

.hero-div p {
    position: relative;
    font-size: 1.4rem;
    color: var(--blanco);
    font-weight: 600;
    margin: 0;
    margin-bottom: .8rem;
}

.btn-hero {
    position: relative;
    display: inline-block;
    background-color: var(--azul);
    color: var(--blanco);
    border: solid 1px var(--azul);
    padding: 1.2rem;
    font-size: 1.4rem;
    font-weight: 600;
    max-width: 11.8rem;
}

/*** Productos ***/

.productos-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.4rem;
}

.productos-header h2 {
    font-size: 2.2rem;
    font-weight: 700;
}

.productos-header a {
    display: flex;
    gap: 0.6rem;
}

.productos-header a,
.productos-card a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--azul);
    padding: 0.6rem;
    padding-left: 0;
    padding-right: 0;
}

.productos-header a img {
    width: 1.06rem;
}

.productos-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
    row-gap: 0;
}

.productos-div .productos-card:nth-child(-n+4) {
    display: block;
}

.productos-card {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: none;
}

.productos-card img {
    width: 100%;
    max-width: 15.6rem;
    height: 100%;
    max-height: 17.4rem;
}

.productos-card h4 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
}

.productos-card p {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
}

/*** Contacto ***/

.contacto,
.login {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: var(--celeste);
}

.contacto-logo-nav {
    display: flex;
    flex-direction: column;
}

.contacto-logo {
    margin: 0 auto;
}

.contacto-nav {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.4rem;
}

.contacto-nav li {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 3;
}

.formulario h2 {
    font-size: 1.6rem;
    font-weight: 700;
}

.contacto-formulario, 
.login-formulario {
    margin-top: 1rem;
}

.campo {
    background-color: var(--blanco);
    padding: 0rem 1rem .8rem;
    margin: .8rem 0 2.4rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom: 1px solid var(--grisBlanco);
}

.campo:last-child {
    margin-bottom: .8rem;
}

.campo label {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--grisOscuro);
    padding: .8rem 0;
}

.campo input {
    font-size: 1.6rem;
    font-weight: 400;
    width: 100%;
    color: var(--negro);
    padding-bottom: 0;
}

.campo.mensaje {
    height: 81px;
    padding-top: 1.6rem;
}

.input-text::placeholder {
    color: var(--grisOscuro);
    vertical-align: middle;
}

.btn-enviar {
    display: inline-block;
    margin-top: .5rem;
    margin-bottom: 1.6rem;
    background-color: var(--azul);
    color: var(--blanco);
    border: solid 1px var(--azul);
    padding: 1.2rem;
    font-size: 1.6rem;
    font-weight: 400;
}

/*** Footer ***/ 

.footer {
    margin: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
    color: var(--color10);
}
 
.footer .corazon {
    color: red;
    font-weight: bold;
}
  
.footer span {  
    font-weight: bold;
}


/*** Pagina Productos ***/

.hero-producto-div img {
    width: 100%;
}

.hero-producto-div .contenedor h4 {
    font-size: 2.2rem;
    font-weight: 500;
    margin-top: 1.6rem;
    margin-bottom: .8rem;
}

.precio {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
}

.descripcion {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 3.2rem;
}

/*** Login ***/

.login-div {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 10rem;
    background-color: var(--grisClaro);
}

.login-formulario h2 {
    text-align: center;
    margin-bottom: 1.6rem;
}

.campo-login {
    background-color: var(--blanco);
    padding: 1rem;
    margin: .8rem auto 1.6rem;
    border-radius: .5rem;
    width: 27.5rem;
}

.campo-login:last-child {
    border-bottom: 1px solid var(--grisBlanco);
    margin-bottom: .8rem;
}

.campo-login input {
    font-size: 1.6rem;
    font-weight: 400;
    width: 100%;
    color: var(--negro);
}

.contenedor-btn-login {
    display: flex;
    justify-content: center;
}

.contenedor-btn-login .btn-enviar {
    font-size: 1.6rem;
    font-weight: 400;
    width: 10.9rem;
    margin-top: .8rem;
    margin-bottom: 7.6rem;
}

/*** Agregar nuevo producto ***/

.agregar-div {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 1.6rem;
    background-color: var(--grisClaro);
}

.agregar-formulario-titulo h2 {
    text-align: center;
    margin-bottom: 1.6rem;
    font-size: 2.2rem;
}

.drop-zone-agregar {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.drop-zone {
    border: 1px dashed var(--grisBlanco);
    border-radius: 0;
    width: 32.8rem;
    height: 13.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.2rem;
}

.drop-zone img {
    width: 1.86rem;
}

.drop-zone-hide {
    display: none;
}

.drop-zone p {
    color: var(--grisNegro);
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0 3.2rem;
}

.texto-tablet {
    display: none;
}

.btn-buscar-agregar {
    display: inline-block;
    color: var(--azul);
    border: solid 1px var(--azul);
    padding: 1.2rem;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: var(--grisClaro);
    width: 21.6rem;
    height: 5.1rem;
    cursor: pointer;
}

.btn-buscar-agregar.pc {
    display: none;
}

.campo-agregar {
    background-color: var(--blanco);
    padding: 1rem;
    margin: .8rem auto 1.6rem;
    border-radius: .5rem;
    width: 100%;
    border-bottom: 1px solid var(--grisBlanco);
}

.campo-agregar:last-child {    
    margin-bottom: .8rem;
}

.campo-agregar label {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--grisOscuro);
    padding: .8rem 0;
}

.campo-agregar input {
    font-size: 1.6rem;
    font-weight: 400;
    width: 100%;
    color: var(--negro);
}

.campo-agregar textarea {
    width: 100%;
}

.campo-agregar.mensaje {
    height: 81px;
    padding-top: 1.6rem;
}

.contenedor-btn-agregar {
    display: flex;
    justify-content: center;
}

.contenedor-btn-agregar .btn-enviar {
    font-size: 1.6rem;
    font-weight: 400;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 7.6rem;
}