@media (min-width: 1024px) {

    /*** Header ***/

    .logo img {
        width: 17.6rem;
    }
    
    .input-buscador {
        width: 39.3rem;
    }

    .btn-login {
        width: 18.2rem;
        height: 5.1rem;
    }

    /*** Hero ***/

    .hero:before {
        background-color: rgba(0,0,0,0);
    }

    .btn-hero {
        font-size: 1.6rem;
        font-weight: 400;
        max-width: 12.9rem;
    }

    /*** Productos ***/

    .productos-header h2 {
        font-size: 3.2rem;
    }

    .productos-div {
        grid-template-columns: repeat(6, 1fr);
    }

    .productos-div .productos-card {
        display: block;
    }

    .productos-card img {
        max-width: 100%;
        max-height: 100%;
    }

    /*** Contacto ***/

    .contacto-logo-nav {
        flex-direction: row;
        justify-content: flex-start;
        gap: 11.2rem;
    }

    .contacto-nav li {
        line-height: 2.6;
    }    
    
    /*** Mensajes ***/ 
    .error,
    .exito {
        width: 42.3rem;
    }
}