@media (min-width: 1024px) {

    /*** Header ***/

    .logo img {
        width: 17.6rem;
    }
    
    .input-buscador {
        width: 39.3rem;
    }

    .btn-login {
        width: 18.2rem;
        height: 5.1rem;
    }

    /*** Hero ***/

    .hero:before {
        background-color: rgba(0,0,0,0);
    }

    .btn-hero {
        font-size: 1.6rem;
        font-weight: 400;
        max-width: 12.9rem;
    }

    /*** Productos ***/

    .productos-header h2 {
        font-size: 3.2rem;
    }

    .productos-div {
        grid-template-columns: repeat(6, 1fr);
    }

    .productos-div .productos-card {
        display: block;
    }

    .productos-card img {
        max-width: 100%;
        max-height: 100%;
    }

    /*** Contacto ***/

    .contacto-logo-nav {
        flex-direction: row;
        justify-content: flex-start;
        gap: 11.2rem;
    }

    .contacto-nav li {
        line-height: 2.6;
    }

    /*** Pagina Producto ***/

    .hero-producto-div {
        max-width: 90%;
        display: flex;
        margin: 0 auto;
        gap: 1.6rem;
    }

    .hero-producto-div div,
    .hero-producto-div img {
        width: 50%;
    }

    /*** Login ***/

    .login-formulario h2 {
        font-size: 1.8rem;
    }

    .campo-login {
        width: 42.3rem;
    }

    .contenedor-btn-login .btn-enviar {
        width: 42.3rem;
    }

    /*** Agregar nuevo producto ***/

    .agregar-formulario-titulo {
        display: flex;
        flex-direction: column;
        width: 55.9rem;
        align-items: flex-start;
    }

    .agregar-formulario-titulo h2 {
        text-align: left;
        font-size: 3.2rem;
    }

    .drop-zone {
        width: 30.1rem;
        height: 15.2rem;
    }

    .drop-zone-agregar {
        justify-content: center;
    }

    .btn-buscar-agregar {
        width: 22.9rem;
        height: 5.1rem;
    }

    .btn-buscar-agregar.tablet {
        display: none;
    }

    .btn-buscar-agregar.pc {
        display: block;
    }

    .campo-agregar {
        max-width: 55.9rem;
    }

    .contenedor-btn-agregar .btn-enviar {
        max-width: 55.9rem;
    }
}